# Force LF line endings for all text files
* text=auto eol=lf
*.bat eol=crlf

*.css linguist-detectable
*.json linguist-detectable
*.md linguist-documentation

docs/** linguist-documentation
dist/** linguist-generated
